html, body {
    background-color: black;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Helvetica Neue Medium Extended";
    src: url(fonts/HelveticaNeue.otf) format("truetype");
}

@font-face {
    font-family: "impact";
    src: url(fonts/impact.ttf) format("truetype");
}

@font-face {
    font-family: "Univers extra black extended oblique";
    src: url(fonts/UniversLT93ExtraBlackExtendedOblique.ttf) format("truetype");
}

.container-startscreen{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

h1{
    font-family: Impact;
    font-size: 70px;
    color: white;
}

p{
    font-family: "Helvetica Neue Medium Extended";
    font-size: 40px;
    color: white;
    margin-top: -50px;
}


.playbutton{
    display:inline-block;
    padding: 15px 70px;
    border: 5px solid #FFFFFF;
    border-radius: 15px;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Helvetica Neue Medium Extended";
    font-size: 30px;
    color:#FFFFFF;
    background-color: black;
    text-align:center;
    transition: all 0.2s;
}

.playbutton:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.afbeelding{
    z-index: 1;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.jakeoverlay{
    position: fixed;
    z-index: 5;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.rosaoverlay{
    position: fixed;
    z-index: 3;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.terryoverlay{
    position: fixed;
    z-index: 3;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.terryoverlay2{
    position: fixed;
    z-index: 5;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.amyoverlay{
    position: fixed;
    z-index: 5;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.charlesoverlay{
    position: fixed;
    z-index: 3;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.ginaoverlay{
    position: fixed;
    z-index: 3;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.ginaoverlay2{
    position: fixed;
    z-index: 5;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.holtoverlay{
    position: fixed;
    z-index: 3;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.container-text{
    z-index: 4;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    transform: rotate(-4deg);
    text-shadow: 1px 1px 3px #000;
}

.brooklyn{
    background-color: #0358bc;
    padding-left: 512px;
    padding-right: 512px;
}

.nine-nine{
    background-color: #001a39;
    padding-top: 90px;
    text-align: left;
    padding-left: 25px;
    margin-left: 50%;
}

.brooklyn h1{
    font-family: "Univers extra black extended oblique";
    color: white;
    font-size: 125px;
    line-height: 4px;
}

.nine-nine p{
    font-family: "Helvetica Neue Medium Extended";
    font-size: 80px;
    color: white;
    margin-top: -30px;
    line-height: 5px;
}

.character-description{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 1px 1px 3px #000;
}

.character-description h1{
    font-family: "Univers extra black extended oblique";
    color: white;
    font-size: 100px;
}

.character-description p{
    font-family: "Helvetica Neue Medium Extended";
    font-size: 40px;
    color: white;
    margin-top: -30px;
    line-height: 5px;
}

.jake{
    background-color: rgb(255,0,0);
    padding-left: 300px;
    padding-right: 1200px;
    transform: rotate(-7deg) translateY(-230px) translateX(-250px);
    line-height: 30px;
}

.rosa{
    background-color: rgb(0,123,245);
    padding-left: 600px;
    padding-right: 600px;
    transform: rotate(6deg) translateY(200px);
    line-height: 90px;
}

.terry{
    background-color: rgb(245,82,0);
    padding-left: 1400px;
    padding-right: 1400px;
    transform: rotate(6deg) translateY(300px) translateX(-250px);
    line-height: 90px;
    margin-left: -50px;
}

.amy{
    background-color: rgb(245,208,0);
    padding-left: 700px;
    padding-right: 1200px;
    transform: rotate(6deg) translateY(-160px) translateX(-400px);
    line-height: 90px;
}

.charles{
    background-color: rgb(255,0,0);
    padding-left: 600px;
    padding-right: 600px;
    transform: rotate(4deg) translateY(120px);
    line-height: 90px;
}

.gina{
    background-color: rgb(0,123,245);
    padding-left: 600px;
    padding-right: 600px;
    transform: rotate(-5deg) translateY(200px);
    line-height: 90px;
}

.holt{
    background-color: rgb(245,82,0);
    padding-left: 600px;
    padding-right: 600px;
    transform: rotate(6deg) translateY(200px);
    line-height: 90px;
}

.creator{
    margin-left: -200px;
    background-color: #0358bc;
    padding-left: 800px;
    padding-right: 800px;
    transform: rotate(4deg) translateY(220px);
}

